studyenv/

study/study/__pycache__/
study/study/__init__.py
study/studyapp/migrations/
study/studyapp/__init__.py
study/studycase/migrations/
study/studycase/__init__.py

study-web/node_modules/
study-web/vue.config.js